@media screen and (max-width: 1280px) {
}
@media screen and (max-width: 1024px) {
    .header__hamburger {
        display: block;
        padding: 12px 26px 0 26px;
        border-right: 1px solid var(--light-gray);
    }
    .btn-burger {
        z-index: 40;
    }
    .header_second-row__links {
        margin-bottom: 8px;
    }
    .header_third-row {
        justify-content: space-between;
    }
    .header_third-row nav {
        margin: 0;
    }
    .header__nav {
        margin: 0 10px;
        transform: translateX(-1000px);
        padding: 32px;
        background: var(--main-color);
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        -webkit-transition: transform 0.6s ease-in-out 0.1s;
        -moz-transition: transform 0.6s ease-in-out 0.1s;
        -ms-transition: transform 0.6s ease-in-out 0.1s;
        -o-transition: transform 0.6s ease-in-out 0.1s;
        transition: transform 0.5s ease-in-out 0.1s;
        z-index: 30;
        opacity: 0.95;
    }
    .header__nav.active {
        transform: translateX(0);
    }
    .header_third-row nav ul {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .header_third-row nav ul li a {
        padding: 8px;
        font-size: 18px;
        font-weight: 700;
    }
    .stats, .contacts, .programs {
        flex-flow: column;
    }
    .container_right, .title_column {
        width: 100%;
    }
    .programs__list {
        justify-content: center;
    }
    .footer_top .wrapper {
        flex-flow: column;
        align-items: center;
    }
    .footer__menu {
        margin: 40px 0;
    }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
    .header_second-row__links {
        margin: 20px auto;
        padding: 0;
        flex-flow: column;
        gap: 20px;
    }
    .header_second-row__links > a {
        margin-left: 0;
    }
    h1 {
        padding: 28px;
        font-size: 40px;
    }
    .feedback__list {
        margin-top: 80px;
        padding: 20px;
    }
    .feedback__text {
        width: 100%;
    }
}
@media screen and (max-width: 600px) {
    .stats__img-container {
        display: none;
    }
}
@media screen and (max-width: 460px) {
    h1 {
        padding: 28px 10px;
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .programs__item {
        max-width: 320px;
    }
    .footer__menu ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 370px) {
}
